<!DOCTYPE html>
<html lang="pt-br">

<head>
	<% include ./partials/head %>
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
			<% include ./partials/menu %>
		</div>
	<!-- /.container -->
	</nav>

	<div class="container">

		<!-- Jumbotron Header -->
		<header class="jumbotron hero-spacer">
			<h1>Hub</h1>			
		</header>
		<hr>

		<!-- Title -->
		<div class="row">
			<div class="col-lg-12">
				<h3>Apps</h3>
			</div>
		</div>
		<!-- /.row -->

		<div class="row">
			<div class="col-md-3 col-sm-6 hero-feature">
				<div class="thumbnail">					
					<div class="caption">
						<h3>Notify</h3>
						<p>
							<a href="/notificador" class="btn btn-primary"><i class="fa fa-commenting" aria-hidden="true"></i>  Acessar</a>							
						</p>
					</div>
				</div>
			</div>

			<div class="col-md-3 col-sm-6 hero-feature">
				<div class="thumbnail">					
					<div class="caption">
						<h3>Falastrão</h3>						
						<p>							
							<a href="/falastrao" class="btn btn-primary"><i class="fa fa-download" aria-hidden="true"></i>  Acessar</a>								
						</p>
					</div>
				</div>
			</div>

		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>