<div class="row">
	<div class="col-md-3 col-sm-6 hero-feature">
		<div class="thumbnail alert-warning">
			<div class="caption">	
				<span class="badge">0</span>
				<h3><i class="fa fa-print"></i> Default action</h3>
				<p>This is most clicked by users...<br/>...and the mostily loved!</p>
				<button type="button" data-event="Print" data-running="idle" class="btn btn-warning">											
					<i class="fa fa-play"></i>
					<i class="fa fa-stop"></i>					
				</button>											
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-6 hero-feature">
		<div class="thumbnail alert-danger">
			<div class="caption">
				<span class="badge">0</span>
				<h3><i class="fa fa-tint"></i> Time to water</h3>
				<p>Hydrating this body requires a lot of work and time</p>
				<button type="button" data-event="Water" data-running="idle" class="btn btn-danger">											
					<i class="fa fa-play"></i>
					<i class="fa fa-stop"></i>						
				</button>	
			</div>
		</div>
	</div>

	<div class="col-md-3 col-sm-6 hero-feature">
		<div class="thumbnail alert-info">
			<div class="caption">
				<span class="badge">0</span>
				<h3><i class="fa fa-mobile"></i> iPhone</h3>
				<p>Because talk about your personal life is part of your tasks</p>
				<button type="button" data-event="Mobile" data-running="idle" class="btn btn-info">											
					<i class="fa fa-play"></i>
					<i class="fa fa-stop"></i>					
				</button>	
			</div>
		</div>
	</div>	


	<div class="col-md-3 col-sm-6 hero-feature">
		<div class="thumbnail alert-success">
			<div class="caption">
				<span class="badge">0</span>
				<h3><i class="fa fa-coffee"></i> Coffee</h3>
				<p>Problem? Take time, walk and drink coffee. If problem is not solved repeat.</p>
				<button type="button" data-event="Coffee" data-running="idle" class="btn btn-success">											
					<i class="fa fa-play"></i>
					<i class="fa fa-stop"></i>						
				</button>
			</div>
		</div>
	</div>	
</div>