<title>Falastrão Manager - <%= models.title %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>

<style type="text/css">
	body {
		padding-top: 70px;
	}

	.thumbnail ,
	.thumbnail .caption
	{
		min-height:157px;
	}

	.thumbnail .caption > p {
		height: 20px;
	}

	.thumbnail h3 {    
		margin-top: 0;
	}

	.thumbnail .badge {
		float: right;
	}
	
	.btn
	{	
		float: right;
		bottom: -36px;
		min-width: 70px;
		position: relative;
	}

	[data-running="idle"] {
		display: none;
	}

	[data-running="false"] .fa-play{
		display: inline-block;
	}

	[data-running="false"] .fa-stop{
		display: none;
	}

	[data-running="true"] .fa-play{
		display: none;
	}

	[data-running="true"] .fa-stop{
		display: inline-block;
	}

	canvas{
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
    }
</style>